
.btn-search, .btn-add, .btn-primary {
    display: block;
    margin-bottom: 15px;
    height: 25px;
}

.btn-search {
border-radius: 20px;
color: darkturquoise;
font-weight: 800;
border: 2px solid darkturquoise;
width: 115px;
}

.btn-add {
border-radius: 50%;
color: white;
background: darkturquoise;
border: none;
width: 25px;

}

.btn-primary {
    color: white;
    background-color: rgb(58, 126, 214);
    border: 2px solid black;
    box-shadow: 3px 3px black;
    width: 140px;
}
